<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PACS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52FB9A591A6C532700E71D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52FB9A721A6C532800E71D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55AD7A2B2393C145009CBD21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55AD7A432393C147009CBD21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55AD7A4E2393C147009CBD21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7610891D1AB3B3D400EEC70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
