<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - PACS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - PACS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PACS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PACS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52FB9A591A6C532700E71D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52FB9A721A6C532800E71D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761088F11AB3B19000EEC70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7610891D1AB3B3D400EEC70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7669430F1AB3802F00BA37D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7669431E1AB3802F00BA37D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
